<ng-template [ngIf]="!recipeDeleted">
  <div class="card text-white bg-primary mb-3 mt-5 start-message">
    <div class="card-body">
      <h5 class="card-title">Please select the recipe</h5>
      <p class="card-text">You can view detailed information as well as add the ingredients to your shopping cart</p>
    </div>
  </div>
</ng-template>

<div class="alert alert-warning" role="alert" *ngIf="recipeDeleted" [ngClass]="{'fadeInAnimation' : recipeDeleted}">
  <h4 class="alert-heading">Recipe has been successfully deleted</h4>
</div>

<ngb-toast header="Notification header">
  Recipe has been deleted
</ngb-toast>





