/*img {*/
/*  border: 0.3rem #ff9965 solid;*/
/*}*/

.card {
  border: 3px solid #0275d8;
}

.recipe-detail {
  max-height: 90rem;
  width: 27rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 1100px){
  .card.recipe-detail {
    width: 40rem;
    margin-left: 3.3rem;
    margin-bottom: 0.7rem;
  }
}

@media screen and (min-width: 1300px){
  .card.recipe-detail {
    width: 50rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
}


